@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
  font-family: "Poppins", sans-serif;
 font-family: "Jacquarda Bastarda 9", serif;
*/

body{
    font-family: "Poppins", sans-serif;
}

/* todo lo que escriban aca va a ser un comentario*/
h1{
    color: white; /*color pinta de color el texto*/
    background-color: black; /*pinta de color el fondo de la caja*/
    font-family: "Jacquarda Bastarda 9", serif;
   
}

/* h1{
    color: blueviolet;
}

h1{
    color: red;
} */

h2{
    color: rgb(255, 9, 214);
}

a{
    text-decoration: none;
}

.navbar{
    list-style:none;
}
.navbar li a{
    color: rgb(239, 40, 40);
}

section{
    background-color: lightblue;
}

section article h2{
    color: red;
    background-color: black;
}

section div h2{
    background-color: white;
    color: rgb(0, 255, 8);
}

/*
existe un selector llamado class => clases
que nos permiten a nosotros de alguna manera 
identificar bloques o etiquetas en html.

las clases tienen la caracteristica de poderse repetir
donde se necesiten.

Las clases nosotros las podemos nombrar a traves de diferentes
nomenclaturas que ya estan estandarizadas.
Los nombres que le solemos poner hacen referencia
a la funcion o representan a que hace referencia el bloque de codigo

articulos de noticias 

camelCase => articulosDeNoticias
kebab=> articulo-de-noticias
snake_case => articulos_de_noticias
BEM => esto significa bloque elemento modificador (lo vemos mas adelante)
*/
#idNoticias{
    background-color: red;
}

.noticiasDeportivas{
    background-color: bisque;
}
.noticiasDeportivas article h2{
    background-color: blanchedalmond;
    /*propiedades para textos*/
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    text-shadow: 0px -5px 2px black ; /*sombra horizontal, sombra vertical, desenfoque de la sombra, color */
    letter-spacing: 5px;
    word-spacing: 10px;
    font-family: "Poppins",sans-serif;
    font-weight:100;
}


.articulosDeNoticias h2{
    color: violet;
    background-color: grey;
}

/**
selector de id es un atributo que se declara en html 

es unico e irrepetible. solamente lo podemos nombrar una vez 
en todo nuestro proyecto.
El selector de id funciona como un rompa en caso de emergencia.
No abusamos del ID en css, porque el id esta reservado para javascript

el id es mas importate que la clase
y la clase es mas importante que la etiqueta

para llamar un id en css lo que usamos es el numeral
*/



